* {
    color: white;
}

textarea {
    color: black;
}

body {
    width: 20rem;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #111111;
}

textarea {
    width: 100%;
    height: 80px;
}

button {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    color: black;
}

video {
    margin-top: 10px;
    border: 2px solid #ddd;
}

#storedDataContainer {
    margin-top: 20px;
    text-align: left;
}

.entry {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #222;
}

.entry img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.entry div {
    color: white;
}

#carousel {
    display: none;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    text-align: center;
}

.carousel-content {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

#prev {
    left: 0;
    width: 10%;
}

#next {
    right: 0;
    width: 10%;
}

button.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#overlay {
    pointer-events: auto; /* Prevent clicks from passing through */
}

#countdownText {
    font-size: 18px; /* Adjust font size to fit in one line */
    margin-bottom: 20px;
    text-align: center; /* Center align the text */
}